<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Local-rent</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

	<div class="container" style=" background-color: #c3e3ff
  ; border: 1px;">
	<!-- Top box -->
		<!-- Logo & Site Name -->
<app-menu-template></app-menu-template>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title" style=" font-family: 'Times New Roman';font-size:50px;  font-weight: 900;color:#004c87;">Bienvenue à Local-rent</h2>
				<p class="col-12 text-center" style=" font-family: 'Georgia';font-size:20px;  font-weight: 900;color:#004c87;" >Vous cherchez un terrain de tennis disponible à louer ? Voici notre site LTT à votre disposition</p>
			</header>

		<!--	<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">Maison</a></li>
            <li class="tm-paging-item"><a href="#" class="tm-paging-link">Appartement</a></li>
            <li class="tm-paging-item"><a href="#" class="tm-paging-link">Local commercial</a></li>

					</ul>
				</nav>
			</div> -->

			<!-- Gallery -->
			<div class="row tm-gallery">
        <!-- gallery page 1 -->
        <div id="tm-gallery-page-pizza" class="tm-gallery-page">
          <router-outlet></router-outlet>


        <!-- gallery page 1 -->

				<!-- gallery page 2 -->
     <!-- gallery page 3 -->
     </div>
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="../assets/template/img/a louer.jpg" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box">
							<h4 class="tm-gallery-title">LTT</h4>
							<p class="tm-mb-45">Avec notre site vous pouvez facilement trouver des terrains de tennis à louer sans se déplacer , prendre un rendez-vous à distance.</p>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">

		</footer>
	</div>
	<script src="../assets/template/js/jquery.min.js"></script>
	<script src="../assets/template/js/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>
